# Python
__pycache__/
*.pyc

# Virtual env
venv/
env/
.venv/

# Django
media/
staticfiles/
# Database
db.sqlite3
*.sqlite3
*.sqlite3-journal

# PostrgreSQL backups
backups/
*.dump
*.bak

# Logs
*.log

# Secrets
.env

# Mac
.DS_Store

# VS Code
.vscode/
